@import "../../../scss/variables.scss";

.root {
  width: 100%;
  padding: 15px;
  flex-direction: column;
  gap: 100px;

  section:nth-child(odd) {
    .text__wrapper {
      h1 {
        font-size: 2.5rem;
        text-align: left;
        font-weight: 600;
      }
      p {
        font-size: 1.4rem;
        text-align: left;
        margin-top: 15px;
      }
    }
  }

  section:nth-child(even) {
    .text__wrapper {
      h1 {
        font-size: 2.5rem;
        text-align: right;
        font-weight: 600;
      }
      p {
        font-size: 1.4rem;
        text-align: right;
        margin-top: 15px;
      }
    }
  }

  #intro__title {
    h1 {
      text-align: center;
    }
    p {
      margin-top: 0;
      text-align: center;
    }
  }

  .intro {
    gap: 60px;
    width: 100%;
    height: 535px;
    display: flex;

    justify-content: space-between;

    &__desc {
      height: 100%;
      display: flex;
      align-items: center;
      .text__wrapper {
        p {
          padding: 20px;
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }
  }
  .services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;

    &__wrapper {
      h1 {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
      }
    }

    .service {
      display: flex;
      flex-direction: column;

      align-items: center;
      width: 300px;
      border-radius: 16px;
      border: 2px solid black;
      padding: 30px;
      .text__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: 10px;
        h1 {
          font-size: 1.5rem;
          text-align: center;
          font-weight: 600;
        }
      }

      &__svg {
        width: 100px;
        height: 100px;
      }
    }
  }

  .frame__molding,
  .frames,
  .canvas,
  .underframe {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .map {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 40px;

    &__wrapper {
      display: flex;
      flex-direction: row;
      gap: 40px;

      .contacts {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 500px;

        h2 {
          font-size: 2rem;
          font-weight: 500;
        }

        p {
          font-size: 1.25rem;
        }
      }
    }

    iframe {
      border: 0;
    }
  }
}
