@import "./variables";
@import "./logo.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: 96px;
}

.text__wrapper {
  h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
  }
  p {
    font-size: 1.4rem;
    text-align: justify;
    margin-top: 15px;
  }
}

a {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 1.75rem;
  padding: 5px 0;
}

.price {
  font-size: 1.75rem;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.text-block {
  h1 {
    padding: 5px 0;
    font-size: 1.5rem;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
  background-color: black;
  font-weight: bold;
  color: white;
  padding: 15px 20px;
  width: 100%;
  border-radius: 20px;
  &.add__to__cart {
    &:hover {
      background-color: #222;
      transition: all 0.2s;
    }
  }
  &.add__to__favorites {
    background-color: white;
    color: black;
    border: 1px solid #727272;
    width: auto;
    white-space: nowrap;
    &:hover {
      background-color: #727272;
      color: white;
      transition: all 0.2s;
    }
  }
}

.content {
  margin-top: 98px;
}

.container {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.arrow__down--icon {
  width: 40px;
  height: 32px;
  position: absolute;
  top: 14px;
  right: 12px;
}

.dropdown {
  &__button {
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    span {
      font-weight: 600;

      svg {
        transition: all 0.3s ease-out;
      }
      .active {
        transform: rotate(180deg);
      }
    }
  }
  &__content {
    max-height: 0;
    overflow: hidden;

    &.active {
      max-height: 240px;
      transition: all 0.4s ease-out;
      overflow: auto;

      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE 10+ */
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        background-color: transparent;
      }
      &::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-corner {
        background-color: transparent;
      }
      &:hover {
        &::-webkit-scrollbar-thumb {
          background-color: black;
        }
      }
    }

    .selection {
      padding: 5px 15px;
      display: block;
      cursor: pointer;

      &:last-child {
        padding-bottom: 10px;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}
